<div class="flex flex-col md:flex-row gap-4 p-4 bg-gradient-to-br from-gray-100 via-blue-50 to-white min-h-screen">
    <!-- Sidebar -->
    <div class="w-full md:w-[20%]">
      <app-sidebar></app-sidebar>
    </div>
  
    <!-- Form -->
    <div class="w-full md:w-[80%]">
      <div class="pt-5 pb-10 flex justify-center">
        <div class="border bg-white rounded-lg shadow-md w-full  mx-auto">
          <div class="border-b px-6 py-4">
            <h1 class="text-xl text-gray-800 font-semibold text-center">Account Overview

            </h1>
          </div>
  
          <div class="flex flex-col lg:flex-row w-full">
            <!-- Left Section -->
            <div class="w-full lg:w-4/5 p-6 space-y-6">
              <!-- Wallet -->
              <div class="rounded-lg border p-4 bg-blue-50">
                <div class="flex justify-between items-center mb-4">
                  <h1 class="font-medium text-sm text-blue-900">Wallet</h1>
                </div>
  
                <div class="space-y-4">
                  <!-- Info Items -->
                  <div class="flex items-center space-x-3">
                    <img src="assets/svgs/tasks svg/wallet-svgrepo-com.svg" class="w-4" />
                    <div>
                      <p class="text-gray-600 font-semibold text-xs">Total Value Available</p>
                      <p class="font-semibold text-xs">$48.29K</p>
                    </div>
                  </div>
                  <div class="flex items-center space-x-3">
                    <img src="assets/svgs/tasks svg/lock-closed-svgrepo-com.svg" class="w-4" />
                    <div>
                      <p class="text-gray-600 font-semibold text-xs">Reserved Funds</p>
                      <p class="font-semibold text-xs">$0</p>
                    </div>
                  </div>
                  <div class="flex items-center space-x-3">
                    <img src="assets/svgs/tasks svg/tick-circle-svgrepo-com.svg" class="w-4" />
                    <div>
                      <p class="text-gray-600 font-semibold text-xs">Available Funds for Investment </p>
                      <p class="font-semibold text-xs">$48.29K</p>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Quick Stats -->
              <div class="flex flex-wrap gap-4">
                <div class="flex items-center border rounded w-full sm:w-[48%] py-3 px-4 bg-white shadow-sm">
                  <img src="assets/svgs/tasks svg/handshake-svgrepo-com.svg" class="w-6" />
                  <p class="ml-3 text-xs font-semibold">Total Investment</p>
                  <p class="ml-auto font-semibold text-xs">$0</p>
                </div>
                <div class="flex items-center border rounded w-full sm:w-[48%] py-3 px-4 bg-white shadow-sm">
                  <img src="assets/svgs/tasks svg/graph-svgrepo-com.svg" class="w-5" />
                  <p class="ml-3 text-xs font-semibold">Average Value per Investment</p>
                  <p class="ml-auto font-semibold text-xs">$0</p>
                </div>
                <div class="flex items-center border rounded w-full sm:w-[48%] py-3 px-4 bg-white shadow-sm">
                  <svg width="10" height="10" viewBox="0 0 24 24" class="ml-2">
                    <circle cx="12" cy="12" r="12" fill="black" />
                    <circle cx="7" cy="8" r="2" fill="white" />
                    <circle cx="17" cy="8" r="2" fill="white" />
                    <circle cx="12" cy="16" r="2" fill="white" />
                  </svg>
                  <p class="ml-3 text-xs font-semibold">Lowest Single Investment</p>
                  <p class="ml-auto font-semibold text-xs">$0</p>
                </div>
                <div class="flex items-center border rounded w-full sm:w-[48%] py-3 px-4 bg-white shadow-sm">
                  <img src="assets/svgs/sidebar/5drum.svg" class="w-6" />
                  <p class="ml-3 text-xs font-semibold">Highest Single Investment</p>
                  <p class="ml-auto font-semibold text-xs">$0</p>
                </div>
              </div>
  
         
            </div>
  
            <!-- Right Section -->
            <div class="w-full lg:w-1/5 p-6 border-l border-gray-200">
              <h1 class="text-center text-sm text-gray-500 mt-4">Currently No Updates</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  