<div class="flex flex-col md:flex-row gap-4 p-4">

    <div class="w-full md:w-[20%]">
        <app-sidebar></app-sidebar>
      </div>
        <div class="w-full md:w-[80%] m-auto">
            <app-pop-up></app-pop-up>  
            <app-access-ipo></app-access-ipo>  
            <app-invest-in-steps></app-invest-in-steps>  
            <app-nin></app-nin>  
            <app-how-ipo-works></app-how-ipo-works>  
            <app-benefits></app-benefits>
            <!-- <app-faqs></app-faqs>   -->
            <app-ipo-reviews></app-ipo-reviews>  
            <app-request-nin></app-request-nin>   
        </div>
    </div>
    