
<div class="bg-[#0B161D] py-8 px-8 md:px-[72px]">
  <div class="container mx-auto">
    <div class="px-0 py-[66px] pb-0">
      <!-- Label -->
      <h3 class="text-[#A7F3D0] font-medium mb-4 uppercase flex items-center gap-4 text-xs sm:text-sm">
        <span class="py-1 px-4 rounded-[4px] border border-[#14532D] bg-[#064E3B] text-xs sm:text-sm text-[#A7F3D0] font-medium">
          {{ "Beta" | titlecase }}
        </span>
        IPO Module for Investment Platform
      </h3>

      <!-- Headline & Image -->
      <div class="flex justify-between">
        <div class="flex flex-col sm:w-auto w-full">
          <h1 class="text-white text-xl md:text-3xl font-bold md:leading-[50px] mb-8 md:mb-[40px]">
            Built for a fintech platform<br class="hidden md:block" />
            enabling global IPO access<br class="md:hidden block" />
            with real-time insights
          </h1>


          <div class="flex mb-6 w-full">
            <div class="min-w-[200px] flex-1 lg:flex-initial"></div>
            <div class="min-w-[200px]"></div>
          </div>
        </div>

        <!-- Desktop Image -->
      
      </div>

      <!-- Stats -->
      <div class="flex w-full justify-between mt-[62px] flex-wrap">
        <div class="flex flex-col gap-1 flex-[1_0_50%] lg:flex-1 my-6 lg:my-0 items-center lg:items-start">
          <p class="text-[#10B981] text-sm md:text-xl font-medium">300+</p>
          <p class="text-[#9CA3AF] text-[11px] md:text-sm">Verified Investor Accounts</p>
        </div>
        <div class="flex flex-col gap-1 flex-[1_0_50%] lg:flex-1 my-6 lg:my-0 items-center lg:items-start">
          <p class="text-[#10B981] text-sm md:text-xl font-medium">$500M+</p>
          <p class="text-[#9CA3AF] text-[11px] md:text-sm">Capital Raised via IPOs</p>
        </div>
        <div class="flex flex-col gap-1 flex-[1_0_50%] lg:flex-1 my-6 lg:my-0 items-center lg:items-start">
          <p class="text-[#10B981] text-sm md:text-xl font-medium">2–4 days</p>
          <p class="text-[#9CA3AF] text-[11px] md:text-sm">IPO Participation Window</p>
        </div>
        <div class="flex flex-col gap-1 flex-[1_0_50%] lg:flex-1 my-6 lg:my-0 items-center lg:items-start">
          <p class="text-[#10B981] text-sm md:text-xl font-medium">100+ countries</p>
          <p class="text-[#9CA3AF] text-[11px] md:text-sm">Global Access Enabled</p>
        </div>
      </div>
    </div>
  </div>
</div>
