 <!-- <div class="flex min-h-screen md:h-[600px]">

 <div class="hidden md:flex w-[40%] h-full bg-gradient-to-tl from-[#1062E5] to-[#083173] font-sans p-8 md:p-12"> 
    <div class="hidden md:flex w-[40%] h-full bg-gradient-to-tl bg-red-800 font-sans p-8 md:p-12">

    <div class="w-full">
      <div class="mt-16 md:mt-24 cursor-pointer"></div>
      <div class="text-white text-xl md:text-2xl font-bold mt-12 md:mt-16">
        <h1>HERE IS THE </h1>
        <h1>EDUCATIONAL INSTITUTION</h1>
      </div>
      <div class="bg-[#CCF65E] rounded-full py-2 px-4 font-bold rounded-bl-none w-[70%] mt-6">
        <h1 class="text-zinc-900 font-[700] text-sm">Did you Know?...</h1>
      </div>
      <div class="bg-[#3B86FF] rounded-br-none rounded-[45px] py-3 px-5 mt-4 w-[95%]">
        <div class="text-white font-[400] text-sm">
          <h1>You can potentially learn and start to earn</h1>
          <h1>with early adoption discount</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full md:w-[60%] flex flex-col items-center px-4 sm:px-8">
    <div class="mt-[10%] md:mt-[8%] text-center">
      <h1 class="text-gray-400 text-sm md:text-base mb-1 mt-16">Welcome Back!</h1>
      <div class="flex text-sm md:text-base justify-center">
        <h1>Don't have an account?</h1>
        <h1 class="underline text-blue-600 ml-1 cursor-pointer">Sign Up</h1>
      </div>
    </div>
    
    <div class="w-full max-w-[380px] md:max-w-[400px]">
      <form class="mt-5">
        <div class="relative">
          <input id="username" type="text" class="peer block w-full px-3 pt-4 pb-2 text-xs md:text-sm text-gray-900 border-b-2 border-gray-300 focus:outline-none" placeholder="Enter Email" />
        </div>
        <div class="relative mt-5">
          <input id="password" type="password" class="peer block w-full px-3 pt-4 pb-2 text-xs md:text-sm text-gray-900 border-b-2 border-gray-300" placeholder="Enter Password"/>
        </div>
        <div class="flex mt-5 justify-between items-center">
          <div class="flex items-center">
            <input type="checkbox" class="ml-1 text-sm border-2 border-blue-500 rounded" />
            <h1 class="text-xs md:text-sm ml-1">Remember me</h1>
          </div>
          <h1 class="text-blue-600 text-xs md:text-sm cursor-pointer">Forgot password?</h1>
        </div>
        <div class="mt-8">
          <button type="submit" (click)="onSubmit()"  class="text-white bg-[#1B44C9] text-sm flex mx-auto mb-2 border-black items-center gap-4 border-2 rounded-full px-6 w-full max-w-[330px] md:max-w-[350px] text-center py-2 hover:bg-[#153BA4] transition-all">
            <h1 class="mx-auto text-white font-semibold text-sm hover:bg-green-300 ">Login</h1>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>  -->
<div class="flex min-h-screen md:h-[600px]">
    <!-- Sidebar (Hidden on Mobile, Visible on Tablet and Larger Screens) -->
    <div class="hidden md:flex w-[40%] h-full bg-gradient-to-tl from-[#D32F2F] to-[#C2185B] font-sans p-8 md:p-12">
      <div class="w-full">
        <div class="mt-16 md:mt-24 cursor-pointer"></div>
        <div class="text-white text-xl md:text-2xl font-bold mt-12 md:mt-16">
          <h1>Explore the World of</h1>
          <h1>Innovative Learning</h1>
        </div>
        <!-- <div class="bg-[#FFEB3B] rounded-full py-2 px-4 font-bold rounded-bl-none w-[70%] mt-6">
          <h1 class="text-zinc-900 font-[700] text-sm">Did You Know?</h1>
        </div> -->
        <div class="bg-[#3E5C76] rounded rounded-[45px] py-3 px-5 mt-4 w-[75%]">
          <div class="text-white font-[400] text-sm">
            <h1>Get a head start with exclusive</h1>
            <h1>discounts on early registration</h1>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Main Content -->
    <div class="w-full md:w-[60%] flex flex-col items-center px-4 sm:px-8 ">
      <div class="mt-[10%] md:mt-[8%] text-center">
        <h1 class="text-gray-400 text-sm md:text-base mb-1 mt-16">Welcome Back to Learning!</h1>
        <div class="flex text-sm md:text-base justify-center">
          <h1>New to our platform?</h1>
          <h1 class="underline text-blue-600 ml-1 cursor-pointer">Sign Up Now</h1>
        </div>
      </div>
      
      <div class="w-full max-w-[380px] md:max-w-[400px]">
        <form class="mt-5">
          <div class="relative">
            <input id="username" type="email" class="peer block w-full px-3 pt-4 pb-2 text-xs md:text-sm text-gray-900 border-b-2 border-gray-300 focus:outline-none" placeholder="Enter your Email" />
          </div>
          <div class="relative mt-5">
            <input id="password" type="password" class="peer block w-full px-3 pt-4 pb-2 text-xs md:text-sm text-gray-900 border-b-2 border-gray-300" placeholder="Enter your Password"/>
          </div>
          <div class="flex mt-5 justify-between items-center">
            <div class="flex items-center">
              <input type="checkbox" class="ml-1 text-sm border-2 border-blue-500 rounded" />
              <h1 class="text-xs md:text-sm ml-1">Keep me logged in</h1>
            </div>
            <h1 class="text-blue-600 text-xs md:text-sm cursor-pointer">Trouble logging in?</h1>
          </div>
          <div class="mt-8">
            <button type=""  class="group text-white bg-gradient-to-tl from-[#D32F2F] to-[#C2185B] hover:from-[#1976D2] hover:to-[#512DA8] text-sm flex mx-auto mb-2 border-black items-center gap-4 border-2 rounded-md px-6 w-full max-w-[330px] md:max-w-[150px] text-center py-2 transition-all duration-300">
              <h1 class="mx-auto text-white font-semibold text-sm">Log In Now</h1>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  