<div class="bg-[#EFFDF6] pb-10 px-4 md:px-10 border mt-3">
  <!-- Section Title -->
  <div class="text-center mt-2">
    <h1 class="text-[20px] md:text-[28px] font-semibold leading-snug text-[#1A2A1D]">
      Register Your National Investor Number (NIN)
    </h1>
    <p class="text-[11px] text-[#3C5C99] mt-2">
      Some exchanges require a NIN for a seamless investing experience. <br> Follow the steps below to easily apply.
    </p>
  </div>

  <!-- Info Cards -->
  <div class="flex flex-wrap justify-center gap-4 mt-6">
    <!-- Card -->
    <div class="flex flex-col items-center text-center bg-white shadow-md p-4 rounded-lg w-[180px] max-w-[80%]  lg:max-w-[240px]">
      <img src="https://www.svgrepo.com/show/195339/investment-bank.svg" alt="Step 1" class="w-1/2 max-w-[100px]">
      <h1 class="text-xs sm:text-base font-medium mt-3">Step 1: Apply for Your NIN</h1>
      <p class="text-[10px] text-gray-600 mt-2">Use your existing information to start the application. It's quick and easy.</p>
    </div>

    <!-- Card -->
    <div class="flex flex-col items-center text-center bg-white shadow-md p-4 rounded-lg w-[180px] max-w-[80%] lg:max-w-[240px]">
      <img src="https://www.svgrepo.com/show/94578/investment-insurance.svg" alt="Step 2" class="w-1/2 max-w-[100px]">
      <h1 class="text-xs sm:text-base font-medium mt-3">Step 2: Provide Extra Info</h1>
      <p class="text-[10px] text-gray-600 mt-2">If required by your chosen exchange, submit additional details to complete your registration.</p>
    </div>

    <!-- Card -->
    <div class="flex flex-col items-center text-center bg-white shadow-md p-4 rounded-lg w-[180px] max-w-[80%]  lg:max-w-[240px]">
      <img src="https://www.svgrepo.com/show/404518/identification-passport-travel-visa.svg" alt="Step 3" class="w-1/2 max-w-[100px]">
      <h1 class="text-xs sm:text-base font-medium mt-3">Step 3: Submit Your Application</h1>
      <p class="text-[10px] text-gray-600 mt-2">Connect to the exchange platforms and submit your application to finalize your NIN creation.</p>
    </div>
  </div>

  <!-- Buttons -->
  <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-4 mt-8">
    <button class="bg-[#3C5C99] hover:bg-[#4880f9] text-white  text-[8px] font-medium py-2 px-5 rounded-3xl md:text-[12px]">Start NIN Registration</button>
    <button class="bg-[#f3e34f] hover:bg-[#C0D0F2] text-[#3C5C99] text-[8px] font-medium py-2 px-5 rounded-3xl md:text-[12px]">Learn More About NIN</button>
  </div>
</div>
